
<h3> Welcome <%= @user.name %> </h3>

  <form action="/accommodations/create" method="get">
    <input type='submit' value="Add Listing">
  </form>

<% if @listing.length > 0 %>
  <% @listing.each { |listing| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= listing.location %></li>
      <li class="list-group-item">£<%= listing.price %></li>
    </ul>
  </div>
<% } %>
  <% end %>

  <% if @requests.length > 0 %>
  <h1>Outstanding bookings</h1>
  <% @requests.each { |request| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= request.id %></h5>
      <p class="card-text"><%= request.accommodation_id %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= request.date %></li>
      <li class="list-group-item"><%= request.status %></li>
    </ul>
  </div>
    <% } %>
<% else %>
    <p>"You aren't hosting any properties yet."</p>
<% end %>
