
<h3> Welcome <%= @user.name %> </h3>

  <form action="/accommodations/create" method="get">
    <input type='submit' value="Add Listing">
  </form>

<% if @listing.length > 0 %>
  <% @listing.each { |listing| %>
  <p> <%= listing.name %> </p>
  <p> <%= listing.description %> </p>
  <p> <%= listing.location %> </p>
  <% } %>
  <% end %>

  <% if @requests.length > 0 %>
  <h1>Outstanding bookings</h1>
  <% @requests.each { |request| %>
    <p> <%= request.id %> </p>
    <p> <%= request.accommodation_id %> </p>
    <p> <%= request.date %> </p>
    <p> <%= request.status%> </p>
    <% } %>
<% else %>
    <p>"You aren't hosting any properties yet."</p>
<% end %>
