
<h2> <%= @user.name %>'s properties </h2>



<% if @listing.length > 0 %>
  <% @listing.each { |listing| %>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.description %></p>
    </div>
    <class="list-group list-group-flush">
      <p class="list-group-item">Location: <%= listing.location %><br>
      <p class="list-group-item">Price per night: £<%= listing.price %><br>
  </div>
<% } %>
<h2>Pending requests</h2>

        <% if @requests.length > 0 %>
        <p> Outstanding bookings: </p>
        <% @requests.each { |request| %>
      <div class="card" style="width: 18rem;">
      
          <div class="card-body">
            <% accommodation = AccommodationService.find(request.accommodation_id) %>
          <p> <%= accommodation.name %> </p>
          <p> <%= accommodation.description %> </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= request.date %></li>
            <li class="list-group-item"><%= request.status %></li>
          </ul>

          <form action="hosting/request/<%=request.id%>" method='post'>
          <input type='submit' value="Confirm the booking">
          </form>

        </div>
          <% } %>
        <% else %>

        <p>You have no pending booking requests</p>

  
        <% end %>

<% else %>
    <p>You aren't hosting any properties yet.</p>
<% end %>
<h2>Add a new listing</h2>

<form action="/accommodations/create" method="get">
  <input type='submit' value="Add Listing">
  </form>
